.conteneur {
  width: 400px;
  margin: auto;
  background-color: chartreuse;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px;
}
.messages {
  border: solid 2px black;
  padding: 0px 15px;
  background-color: rgba(255,255,255, 0.7);
  display: inline-block;
  width: 91%;
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: darkviolet lightgray;
  scrollbar-width: thin;
}

.M {
  width: 70%;
  padding: 5px;
  margin: 7px 0;
  border-radius: 10px;
}
.M_recu {
  background-color: cadetblue;
  margin-right: 30%;
}
.M_envoye {
  margin-left: 30%;
  background-color: coral;
  text-align: right;
}
.post {
  margin: 10px;
  display: block;
}

h3, p {
  margin: 0 0 5px 0;
}
.new_message {
  width: 98%;
  margin: 5px auto;
}
.new_submit {
  width: 100%;
  margin: 5px auto;
}

body {
  font-family: montserrat;
}
.M_date {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

/* pagelogin */
form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #3e8e41;
}


